
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@400;600;800;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* shared style */
.btn-pri{
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: 1px solid orange;
    cursor:pointer;
    margin-bottom: 50px;
    margin-top: 30px;
}
.text-light-gray{
    color:#727272;
    font-size: 16px;
  

}
.section-title{
    font-size: 3rem;
    font-weight: 700;
    color:  #131313;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding:50px 240px;
}
nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* banner content */
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color:  #131313;
    margin-bottom: 0px;
}
.banner-description{
    margin-top: 10px;
}
.banner img{
    width: 100%;
}
/* featurs styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
   display: flex;
   align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    
}
.teams-content{
    padding-right:20px ;
    padding-left:20px;
}
/* love and enjoy feature section styles */
    .features{
        margin-top: 130px;
        display: flex;
        gap: 100px;
 
    }
    .features .section-title{
        border-left: 5px solid #FF900E;
        padding-left: 20px;
    }
    .feature-content .card{
        padding: 20px;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgb(0, 0, 0 ,0.06);
        margin-bottom: 20px;
    }
    .feature-img img{
        height: 90%;
        margin-left: 90px;
    }
    /* .section-title{
        color:  #131313;
        font-size: 45px;
        font-weight: 700;
    }
    .card h4{
        color: #131313;
        font-size: 20px;
        font-weight: 600;
    } */
    .ten-years-batch{
        border-radius: 8px;
        background: #FF900E;
        padding: 45px 40px;
        color: #FFF;
        width: 250px;
        text-align: center;
        position: relative;
        bottom: 100px;
    }
    .ten-years-batch h2{
        font-size: 4 rem;
        margin: 0;
    }
    .ten-years-batch p{
        font-size: 1.5rem;
    }
/* facts section */
.facts-card-container{
    display: flex;
    justify-content: space-around;

   
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding:  30px;
}
.facts-card-container .card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
  

}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* sponsors stayle */
.sponsors{
    text-align: center;
    margin-top: 100px;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.sponsors-img-container img{
    width: 165px;
}

footer{
    border-radius: 8px;
    background: #FFF4E7;
    width: 1440px;
    height: 100px;
    margin: 240px;
}
footer p{
    color:  #424242;
    font-size: 20px;
    padding: 30px 400px;

}

/* mobile deviser responsive */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,.teams-container, .facts-card-container,.sponsors-img-container,.features{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content, .facts-card-container{
        padding-left: 20px;
        padding-right: 20px;
    
    }
    .facts-card-container{
        gap: 20px;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0px;
    }
    .ten-years-batch{
        max-width: 450px;
        position: static;
    
    }
  
    footer{
        margin: 0 0px;
        width: 190px;

    }
    footer p{
        font-size: 10px;
        padding: 40px 5px;
        text-align: center;
    }
}


/* tablet or medium devices */

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav,.teams-container, .sponsors-img-container,.features{
        flex-direction: column;
    }
    footer{
    max-width: 800px;
        margin-left: 10px;

    }
    footer p{
        font-size: 10px;
        padding: 40px 5px;
        text-align: center;
    
    }
}
